{% extends 'base.html' %}
{% block title %} About us {% endblock %}
{% block content %}
    <h1>Our goal is to give people the opportunity to see companies through and through.</h1>
    <br><br>
    <p>ScoreXpert was founded in 2024 with a straightforward yet impactful vision that remains highly relevant today —
        to become the global symbol of trust, connecting consumers and businesses through reviews.</p>

    <p>ScoreXpert is transparent, unbiased, and objective — we assist consumers in making informed decisions while
        helping businesses establish trust, grow, and enhance their operations.</p>
{% endblock %}