{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}?v={{ STATIC_VERSION }}">
</head>
<body style="background-color:lavender">
<div style="display:flex;flex-direction: column; align-items: center">
    <br><br>
    <h1>Registration User</h1>
    <br><br>
    <div style="width:800px;display:flex; flex-direction: column; align-items: center ;justify-content: space-around; height:500px; border-radius:30px; opacity:0.8; background-color:lightsteelblue;border-style:solid;border-color:lightblue;border-width:10px;">
        <form method="post">
            {% csrf_token %}
            <h3 class="class-reg-h3">{{ form.username.label_tag }}</h3>
            <br>
            {{ form.username }}
            <br>
            <h3 class="class-reg-h3"> {{ form.password1.label_tag }}</h3>
            <br>
            {{ form.password1 }}
            <br>
            <h3 class="class-reg-h3">  {{ form.password2.label_tag }} </h3>
            <br>
            {{ form.password2 }}
            <br><br><br>

            <button style="margin-left:50px;">Registration</button>
        </form>
    </div>
<br>
<a style="color:red;font-size:30px;" href="{% url 'login' %}">I already have an account</a>
    <br><br>
    {% if errors %}
        <div style="background-color:red; margin-bottom:30px;">
            {{ errors }}
        </div>
    {% endif %}
</div>
</body>
</html>